name: CD frontend dev

on:
  push:
    branches:
      - main
    paths:
      - 'src/frontend/**'

jobs:
  frontend-cd-dev:
    name: CD frontend dev
    runs-on: [self-hosted]
    defaults:
      run:
        working-directory: src/frontend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      - name: Run frontend tests
        run: npm run test
